candore:
  base_url:
  username:
  password:
  product_name: satellite
  product_version: 6.14
  docpath: /apidoc
  parser: apipie
  var_file: "@jinja {{this.candore.product_version | replace('.', '_')}}_variations.yaml"
  constant_File: "@jinja {{this.candore.product_version | replace('.', '_')}}_constants.yaml"
  ssh:
    username:
    private_key:
    password:
  # The maximum number of concurrent (asynchronous) connections allowed against the host
  max_connections: 20
